<?xml version="1.0" encoding="UTF-8"?>
<beans 
xmlns="http://www.springframework.org/schema/beans" 
xmlns:aop="http://www.springframework.org/schema/aop" 
xmlns:mvc="http://www.springframework.org/schema/mvc" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns:p="http://www.springframework.org/schema/p" 
xmlns:context="http://www.springframework.org/schema/context" 
xmlns:websocket="http://www.springframework.org/schema/websocket" 
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd 
http://www.springframework.org/schema/context 
http://www.springframework.org/schema/context/spring-context-3.0.xsd 
http://www.springframework.org/schema/mvc 
http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
http://www.springframework.org/schema/aop
http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
http://www.springframework.org/schema/websocket 
http://www.springframework.org/schema/websocket/spring-websocket-4.1.xsd"
>
	<bean id="websocket" class="lz.webSocket.WebSocketEndPoint"/>  
	<websocket:handlers>  
    	<websocket:mapping path="/websocket" handler="websocket" /> 
    	<websocket:handshake-interceptors>  
    		<bean class="lz.webSocket.HandshakeInterceptor"/>  
    	</websocket:handshake-interceptors>  
	</websocket:handlers>  
</beans>